<div id="trip_expenses">
	<div class="title">
		Pending Expenses
	</div>

	<% @trip.pending.each do |expense| %>
		<div class="item">
			<div class="amount">
				<%= number_to_currency(expense.total/1000, unit: "$") %>
			</div>

			<h3><%= expense.title %></h3>
			
			<p>
				<%= expense.description %>
			</p>

			<div class="clear"></div>
		</div>

		<% expense.users_expenses.each do |users_expense| %>
			<div class="sub_item">
				<div class="amount">
					<%= number_to_currency(users_expense.amount/1000, unit: "$") %>
				</div>

				<%= full_name users_expense.user %>
			</div>
		<% end %>
	<% end %>
	
	<div class="title">
		Posted Expenses
	</div>

	<% @trip.posted.each do |expense| %>
		<div class="item">
			<div class="amount">
				<%= number_to_currency(expense.total/1000, unit: "$") %>
			</div>

			<h3><%= expense.title %></h3>
			
			<p>
				<%= expense.description %>
			</p>

			<div class="clear"></div>
		</div>

		<% expense.users_expenses.each do |users_expense| %>
			<div class="sub_item">
				<div class="amount">
					<%= number_to_currency(users_expense.amount/1000, unit: "$") %>
				</div>
				
				<%= full_name users_expense.user %>
			</div>
		<% end %>
	<% end %>
</div>