<!DOCTYPE html>
<html>
	<head>
	  <title>Qwik Split</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<header>
			<div id="logo">
				<h1>Qwik Split</h1>
			</div>

			<nav>
				<ul>
					<% if session[:user_id] %>
						<li>
							<%= link_to "Dashboard", dashboard_path %>
						</li>
						<li>
							<%= link_to "Profile", user_path(id: session[:user_id]) %>
						</li>
						<li>
							<%= link_to "Users", users_path %>
						</li>
						<li>
							<%= link_to "Trips", trips_path %>
						</li>
						<li>
							<%= link_to "Sign Out", logout_path, method: :delete %>
						</li>
					<% else %>
						<li>
							<%= link_to "Sign Up", signup_path %>
						</li>
						<li>
							<%= link_to "Log In", login_path %>
						</li>
					<% end %>
				</ul>
			</nav>

			<div class="clear"></div>
		</header>

		<% if session[:user_id] %>
			<% if flash[:notice] %>
				<div id="notice">
					<%= flash[:notice] %>
				</div>
			<% end %>

			<% if flash[:alert] %>
				<div id="alert">
					<%= flash[:alert] %>
				</div>
			<% end %>
		<% else %>
			<% if flash[:notice] %>
				<div id="notice" class="absolute">
					<%= flash[:notice] %>
				</div>
			<% end %>

			<% if flash[:alert] %>
				<div id="alert" class="absolute">
					<%= flash[:alert] %>
				</div>
			<% end %>
		<% end %>

		<%= yield %>

		<footer>
		</footer>
	</body>
</html>
